### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"
df_file = pd.read_csv(file)

# Read Purchasing File and store into Pandas data frame
df_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
gendertype = df_file['Gender'].unique()
gendertype

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [3]:
num_players = df_file["SN"].nunique()
pd.DataFrame({"Number of players":[num_players]})

   Number of players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = df_file["Item ID"].nunique()
avg_price = round(df_file["Price"].mean(),2)
total_purchases = df_file["Price"].count()
total_revenue = df_file["Price"].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [avg_price],
                                   "Number of Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
maleData = df_file.loc[df_file["Gender"]=="Male"]
maleData

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [6]:
males = maleData["SN"].unique()
len(males)

484

In [7]:
femaleData = df_file.loc[df_file["Gender"]=="Female"]
femaleData

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [8]:
females = femaleData["SN"].unique()
len(females)

81

In [9]:
otherData = df_file.loc[df_file["Gender"]=="Other / Non-Disclosed"]
otherData

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [10]:
others = otherData["SN"].unique()
len(others)

11

In [11]:
userGenderList = ["Male", "Female", "Other / Non-Disclosed"]
genderCountList = [len(males), len(females), len(others)]
percentageList = []

In [12]:
percentage_male = (len(males) / num_players) * 100.00
percentageList.append(percentage_male)
percentage_male

84.02777777777779

In [13]:
percentage_female = (len(females) / num_players) * 100.00
percentageList.append(percentage_female)
percentage_female

14.0625

In [14]:
percentage_others = (len(others) / num_players) * 100.00
percentageList.append(percentage_others)
percentage_others

1.9097222222222223

In [15]:
data = []
for value in range(0,3):
    newList = []
    newList.append(userGenderList[value])
    newList.append(genderCountList[value])
    newList.append(percentageList[value])
    data.append(newList)

userdf = pd.DataFrame(data, columns = ['Gender', 'Count', "percentage of player"])
userdf['percentage of player'] = userdf['percentage of player'].map('{:,.2f}%'.format)
userdf

                  Gender  Count percentage of player
0                   Male    484               84.03%
1                 Female     81               14.06%
2  Other / Non-Disclosed     11                1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
gencount =[]
gen_avg = []
gen_avg_purch = []
gen_total_purch = []
gen_total_avg_purch = []

In [17]:
male_purchase_count = maleData["Item ID"].count()
gencount.append(male_purchase_count)
male_purchase_count

652

In [18]:
fmale_purch_count = femaleData["Item ID"].count()
gencount.append(fmale_purch_count)
fmale_purch_count

113

In [19]:
other_purch_count = otherData["Item ID"].count()
gencount.append(other_purch_count)
other_purch_count

15

In [20]:
male_avg_purch = round(maleData["Price"].mean(), 2)
gen_avg.append(male_avg_purch)
male_avg_purch

3.02

In [21]:
female_avg_purch = round(femaleData["Price"].mean(), 2)
gen_avg.append(female_avg_purch)
female_avg_purch

3.2

In [22]:
other_avg_purch = round(otherData["Price"].mean(), 2)
gen_avg.append(female_avg_purch)
other_avg_purch

3.35

In [23]:
male_total_purch = maleData["Price"].sum()
gen_avg_purch.append(male_total_purch)
male_total_purch

1967.64

In [24]:
fmale_total_purch = femaleData["Price"].sum()
gen_avg_purch.append(fmale_total_purch)
fmale_total_purch

361.94

In [25]:
others_total_purch = otherData["Price"].sum()
gen_avg_purch.append(others_total_purch)
others_total_purch

50.19

In [26]:
male_avg_total = male_total_purch / len(males)
gen_total_purch.append(male_avg_total)
male_avg_total

4.065371900826446

In [27]:
fmale_avg_total = fmale_total_purch / len(females)
gen_total_purch.append(fmale_avg_total)
fmale_avg_total

4.468395061728395

In [28]:
others_avg_total = others_total_purch / len(others)
gen_total_purch.append(others_avg_total)
others_avg_total

4.5627272727272725

In [29]:
purchasing = []
for value in range (0,3):
    purch_list = []
    purch_list.append(userGenderList[value])
    purch_list.append(gencount[value])
    purch_list.append(gen_avg[value])
    purch_list.append(gen_avg_purch[value])
    purch_list.append(gen_total_purch[value])
    purchasing.append(purch_list)

purchasing_analysis = pd.DataFrame(purchasing, columns = ['Gender','Purchase Count', 'Average Purchase Price', 
                                                         'Total Purchase Value', 'Average Total Purchase Per Person'])

purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis['Total Purchase Value'] = purchasing_analysis['Total Purchase Value'].map('${:,.2f}'.format)
purchasing_analysis['Average Total Purchase Per Person'] = purchasing_analysis['Average Total Purchase Per Person'].map('${:,.2f}'.format)

purchasing_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,$3.20,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
max_age = df_file['Age'].max()
max_age

45

In [31]:
min_age = df_file['Age'].min()
min_age

7

In [214]:
bins = [0,10,15,20,25,30,35,40,45]
player_cat = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39",">=40"]
df_file['Age Group'] = pd.cut(df_file['Age'], bins, labels=player_cat)
df_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [215]:
sorted_bin = df_file.groupby('Age Group')

In [216]:
total_age_grp = sorted_bin['SN'].count()
total_age_grp

Age Group
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: SN, dtype: int64

In [217]:
percentage = (total_age_grp / num_players) * 100
percentage

Age Group
<10       5.555556
10-14     9.375000
15-19    34.722222
20-24    56.423611
25-29    13.368056
30-34     9.027778
35-39     5.729167
>=40      1.215278
Name: SN, dtype: float64

In [218]:
df_group = {"Total Count": total_age_grp, "Percentage Of Players": percentage}
percent_group = pd.DataFrame(df_group)
percent_group['Percentage Of Players'] = percent_group['Percentage Of Players'].map('{:,.2f}%'.format)
percent_group

           Total Count Percentage Of Players
Age Group
<10                 32                 5.56%
10-14               54                 9.38%
15-19              200                34.72%
20-24              325                56.42%
25-29               77                13.37%
30-34               52                 9.03%
35-39               33                 5.73%
>=40                 7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [219]:
# purchase_databin = df_file.sort_values('Age')
# purchase_databin.groupby('Age')
# age_index = purchase_databin.set_index('Age')
# age_index['Purchase ID'].nunique()

purchase_count = sorted_bin['Purchase ID'].count()
purchase_count

Age Group
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Purchase ID, dtype: int64

In [226]:
avg_purch_price = tot_purch_val/ num_players
avg_purch_price

Age Group
<10      0.189167
10-14    0.271875
15-19    1.079097
20-24    1.704236
25-29    0.384410
30-34    0.270330
35-39    0.195052
>=40     0.037378
Name: Price, dtype: float64

In [221]:
tot_purch_val = sorted_bin['Price'].sum()
tot_purch_val

Age Group
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
>=40      21.53
Name: Price, dtype: float64

In [220]:
avg_purchase_price = sorted_bin['Price'].mean()
avg_purchase_price

Age Group
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
>=40     3.075714
Name: Price, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame